body {
  background: #eee url("../img/bg.jpg") no-repeat top;
  background-size:cover;
  height:100vh;
}

/* DECLARE ME A FONT FAIR COMPUTER */
@font-face {
  font-family: game-of-thrones-bitch;
  src: url("fonts/game-of-thrones.ttf");
  }
  
  .title {
	  font-family: game-of-thrones-bitch;
 }
 
   .sub-title {
	  font-family: game-of-thrones-bitch;
 }
 
  .content {
	margin-top:20%;
 }

 .image {
  margin-left:auto;
  margin-right:auto;
  }

.btn-default{
    font-size:1.4em;
    transition: all .5s;
    border-width:2px;
    color: #333;
    background-color: transparent;
    border-color: #333;
    border-radius: 0px;
}
.btn-default:hover{
    color: #eddfc4;
    background-color: #333;
    border-color: #333;
    border-radius: 0px;
}

.btn {
    white-space: normal;
}